.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* TABLET BONUS */
@media (min-width: 421px) and (max-width: 991px) {
  /* COMMON */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    font-size: 95%;
  }

  img {
    max-height: 120px;
    margin-top: 20px;
  }

  #lezioni,
  #why {
    background-color: #A662EF;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    padding: 0 15px;
  }

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 50%;
    padding: 0 15px;
  }

  #steps .row>.right {
    width: 100%;
  }

  /* BLOCCO PERCHE */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 0 15px;
  }

  #why .row>.third {
    width: 100%;
  }

  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 15px
  }

  hr {
    display: none;
  }

}

/* MOBILE ESERCIZIO */
@media (max-width: 420px) {
  /* COMMON */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row {
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 80%;
  }

  img {
    max-height: 100px;
    margin-top: 20px;
  }

  #lezioni,
  #why {
    background-color: #F2F2CD;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
  }

  /* BLOCCO PERCHE */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    margin-top: 0;
  }

  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 20px;
  }

}